<widget id="yourdomain.mp3" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HarmaNinja</name>
    <description>
        Voice Control Music Play
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
       JDH
    </author>
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.core.Device"/>
	<gap:plugin name="com.applicationnexus.plugins.speechrecognition" source="pgb" />
	<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" source="pgb" />
	
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>	
	
	<icon src="icon.png" />
</widget>